body{
    font-family: 'Kanit', sans-serif;
    background-color: rgb(255, 255, 255);
}


h1,h2,h3{
    font-family: 'Oswald', sans-serif !important;
    font-weight: bolder;
    color: black;
}


.titolo{
    font-weight: bolder;
    color: var(--main);
    letter-spacing: 5px;
    animation-name: title;
    animation-duration: 3s;
    animation-iteration-count: 1;
    background-color: darkred;
    }
    
    @keyframes title{
        0%{
            opacity: 0;
        }100%{
            opacity: 1;
        }
    }

.p{
    background-color: rgba(0, 0, 255, 0.46);
    color: chocolate;
    transition: 2s;
}

.footer{
    height: 100vh;
    background-image:linear-gradient(white,transparent,black), url(./media/card1.jpg);
    background-position: center;
    background-size: cover;
}
